<div>
    <div class="row">
        <div class="subjects">
            {{!-- <button id="skip">HTML</button>
            <button id="skip">Javascript</button>
            <button id="skip">Node.js</button> --}}
            <button type="button" class="btn btn-outline-light buttonGuess">HTML</button>
            <button type="button" class="btn btn-outline-light buttonGuess">Javascript</button>
            <button type="button" class="btn btn-outline-light buttonGuess">Node.JS</button>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="question">
            {{!-- <h5 class="card-title">Question</h5> --}}
            <p>
                {{!-- <strong>ID</strong>: {{question.id}} --}}
            </p>
            <p style="text-cnet">
                {{!-- <strong>Text</strong>: {{question.text}} --}}
                <strong>{{question.text}}</strong>
            </p>
            <p>
                {{!-- <strong>Answers</strong>: --}}
                <br>
                {{#each question.Answers}}
                <button data-id="{{this.id}}" class="btn btn-info buttonGuess">
                    {{this.text}}
                </button>
                {{/each}}
            </p>
            <button id="skip">Skip</button>
            <br>
            <a href="/">← Back To Home</a>
        </div>
    </div>
</div>

